[project]
	description = A well-designed English ? Chinese dictionary for Chrome.
[access "refs/*"]
	owner = group user/tek-life (tek-life)
[access "refs/for/refs/*"]
	read = group user/tek-life (tek-life)
	push = group user/tek-life (tek-life)
	label-Code-Review = -2..+2 group user/tek-life (tek-life)
	label-Verified = -1..+1 group user/tek-life (tek-life)
	rebase = group user/tek-life (tek-life)
	removeReviewer = group user/tek-life (tek-life)
	submit = group user/tek-life (tek-life)
[access "refs/heads/*"]
	read = group user/tek-life (tek-life)
	create = group user/tek-life (tek-life)
	push = +force group user/tek-life (tek-life)
	pushMerge = group user/tek-life (tek-life)
[access "refs/tags/*"]
	push = +force group user/tek-life (tek-life)
	pushTag = group user/tek-life (tek-life)
	pushSignedTag = group user/tek-life (tek-life)
